.masonry.grid {
	display: block;
}

@media only screen and (min-width: 768px) {
	.masonry.grid {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}

	.ui.doubling.masonry.grid[class*="two column"] > .column {
		width: 100% !important;
	}
}

@media only screen and (min-width: 992px) {
	.masonry.grid {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

.text.white {
	color: #FFFFFF;
}

.text.grey {
	color: #CCCCCC;
}

.text.black {
	color: #1B1C1D;
}

.text.yellow {
	color: #F2C61F;
}

.text.teal {
	color: #00B5AD;
}

.text.red {
	color: #D95C5C;
}

.text.purple {
	color: #564F8A;
}

.text.pink {
	color: #D9499A;
}

.text.orange {
	color: #E07B53;
}

.text.green {
	color: #5BBD72;
}

.text.blue {
	color: #3B83C0;
}

.oauth-button {
	color: white;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.oauth-button:hover {
	cursor: pointer;
}